#todoContainer{
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  padding: 30px 20rem 0 10rem;
  height: 83vh;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */

}

#formBox {
  padding:3rem;
  border:solid #EFE7BC;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}
#listBox{
  padding:3rem;
  width: 70%;
}
.addButton{
  background-color: #74BDCB!important;
  border:#74BDCB!important;
}
.clearButton{
  font-size: 17px!important;
  color:#74BDCB!important;
}