#taskBox{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row; 
  justify-content:flex-start;
  padding: 0px 30px 0px 30px;
  width: 70%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#taskButton{
  color: rgb(78, 78, 76)!important;
  margin-left: 75px;
  background-color: #afafaf!important;
  border:#74BDCB!important;
  border-radius: 10px!important;
  width: 20%;
  /* height: 20px; */
  /* height: 40px!important; */
}
#taskContainer{
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  align-items: center;

}
#progress{
  display: flex;
  justify-content: center;
  color: #4c4c4c;
 padding: 7px;
 border-radius: 5px;
  width: 120px;
 margin-left: 40px;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}