@import url('https://fonts.googleapis.com/css2?family=Allison&family=Fuzzy+Bubbles&family=Libre+Baskerville:wght@700&display=swap');

.paginationBttns{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.dark-paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  cursor: pointer;
  color: black;
}

.dark-paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  /* border: 1px solid #EFE7BC; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, #EFE7BC 0px 5px 10px;
  cursor: pointer;
  color: #FFA384;
}

.paginationBttns a:hover {
  color: azure;
  background-color: #74BDCB;
}

.dark-paginationBttns a:hover {
  color: azure;
  background-color: #74BDCB;
}


.paginationActive a {
color: #FFA384;
background-color: #74BDCB;
}

.dark-paginationActive a {
  color: #FFA384;
  background-color: #74BDCB;
  }

  .previousBttn{
    font-family: 'Fuzzy Bubbles', cursive;
  }

  .nextBttn{
    font-family: 'Fuzzy Bubbles', cursive;
  }
  
  .complete{
background-color: red;
  }
  .dark-complete{
    background-color: greenyellow;
  }
 